/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

/* Variables */
:root{
    --ft-serif: 'Sniglet', cursive;
    --ft-sserif: 'Rochester', cursive;
    --col-black: #000;
    --col-white: #FFF;
    --col-grey: #888;
    --col-pink1: #CD1D72;
    --col-pink2: #FF48A0;
    --col-pink3: #FFB1D7;
}

/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 3.75em 0 0 0;
    margin: 0;
}

.image{
    background-position: center;
    background-size: cover;
}

button{
    border: 0.125rem solid var(--col-pink1);
    border-radius: 3em;
    padding: 0.6em 1em;
}

button.fill{
    color: var(--col-white);
    background: var(--col-pink1);
}

button.stroke{
    color: var(--col-pink1);
    background: transparent;
}

form button{
    width: 100%;
}

a{
    color: var(--col-pink1);
}

.form-compact{
    margin: 15px 5px;
    max-width: 400px;
    border: 2px solid var(--col-pink2);
    border-radius: 100px;
}
.form-compact *{
    font-family: var(--ft-serif);
    z-index: 48;
}
.form-compact .box{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}
.form-compact .box legend{
    position: absolute;
    color: var(--col-pink1);
    background: var(--col-white);
    transform: translate(20px,-20px);
    padding: 0 5px;
}
.form-compact .box input{
    border: none;
    padding: 12px;
    background: transparent;
    width: 100%;
    border-radius: 100px;
}
.form-compact button.search{
    width: 26px;
    height: 26px;
    border: none;
    background-color: transparent;
    background-image: url("../svg/search.svg");
    border-radius: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}


/* Nav */
nav{
    position: fixed;
    inset: 0 0 auto 0;
    height: 3.75em;
    background-color: var(--col-pink1);
    background-size: contain;
    background-position-x: 170%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav li{
    list-style-type: none;
    height: 3rem;
    min-width: 3rem;
    display: block;
}

nav .logo{
    background-image: url("../svg/logo-white.svg");
    width: 6.25rem;
    height: 2.9375rem;
    display: block;
    margin-left: 2.5rem;
}

nav .hamburger{
    width: 1.875rem;
    height: 2.5rem;
    display: flex;
    position: fixed;
    left: 0.3em;
    top: 0.5em;
    align-items: center;
}

nav .hamburger div{
    background: var(--col-white);
    width: 100%;
    height: 0.375rem;
    border-radius: 6.25rem;
}
nav .hamburger div:before, nav .hamburger div:after{
    content: "";
    background: var(--col-white);
    width: 100%;
    height: 6px;
    border-radius: 100px;
    position: absolute;
}
nav .hamburger div:before{
    top: 0;
}
nav .hamburger div:after{
    bottom: 0;  
}
nav .items{
    display: flex;
    padding: 10px 15px;
    font-family: var(--ft-sserif); 
}
nav .items a{
    text-decoration: none;
    color: var(--col-white);
}

nav .items a:hover{
    filter: drop-shadow(0 0 0.75rem white);
    transition: 0.5s;
}
@media(max-width:600px){
    nav .items{
        position: fixed;
        inset: 60px 0 auto 0;
        background-color: var(--col-white);
        flex-direction: column;
        border-bottom: 3px solid var(--col-pink1);
        z-index: 40;
        overflow: hidden;
        transition: 0.5s all ease;
        transform: translateY(-300px);
    }
    nav, nav *{
        z-index: 50;
    }

    .items, .items *{
        z-index: 40;
    }
    nav .items li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav .items a{
        color: var(--col-pink1);
    }
    .hamburger:focus .items{
        transform: translateY(0px);
    }

    nav .hamburger{
        visibility: visible;
    }

    nav .logo{
        margin-left: 2.5rem;
    }
    main{
        padding: 5px;
    }
}
@media(min-width:600px){
    nav .hamburger{
        visibility: hidden;
    }
    
    nav .logo{
        margin-left: 0.5rem;
    }

    nav .items{
        font-size: 2rem;
        gap: 2rem;
    }
    main{
        padding: 15px 150px;
    }
}

nav .action{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    background: white;
    position: relative;
    padding-left: 6px;
}
nav .action:before, nav .action:after{
    content: "";
    position: absolute;
    height: 100%;
}
nav .action:before{
    width: 20px;
    background-color: var(--col-pink3);
    right: 100%;
}
nav .action:after{
    width: 40px;
    background-color: var(--col-pink2);
    right: calc(100% + 20px);
}

nav .action a{
    display: block;
    height: 100%;
    width: 100%;
}

nav .action li{
    margin-right: 0.5rem;
}

nav .action .user{
    background-image: url("../svg/user-3col.svg");
}
nav .action .cart{
    background-image: url("../svg/cart-3col.svg");
}


footer{
    background-color: #CD1D72;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.5rem 0 0.5rem 0.5rem;
    font-family: var(--ft-serif);
}

footer ul{
    padding: 0;
}

footer a{
    color: white;
    text-decoration: underline;
}

footer p{
    margin: 0;
}

li{
    list-style-type: none;
}

.img-index{
    display: block;
    width: calc(100% + 10px);
    aspect-ratio: 1 / 1;
    transform: rotate(90deg);
    background-image: url("../img/bonbons1.png");
    background-position-x: 0;
    margin: -5px;
}