/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

/* Variables */
:root{
    --ft-serif: 'Sniglet', cursive;
    --ft-sserif: 'Rochester', cursive;
    --col-black: #000;
    --col-white: #FFF;
    --col-grey: #888;
    --col-pink1: #CD1D72;
    --col-pink2: #FF48A0;
    --col-pink3: #FFB1D7;
}

/* Global */
body{
    padding: ;
    margin: 0;
}

button{
    border: 2px solid var(--col-pink1);
    border-radius: 3em;
    padding: 0.6em 1em;
}

button.fill{
    color: var(--col-white);
    background: var(--col-pink1);
}

button.stroke{
    color: var(--col-pink1);
    background: transparent;
}

form button{
    width: 100%;
}

/* Nav */

nav{
    position: fixed;
}